Host devA
  HostName 103.57.74.131
  User ubuntu
  ProxyJump bastion

Host devB
  HostName 91.106.198.217
  User ubuntu
  ProxyJump bastion

Host devC
  HostName 91.106.198.31
  User ubuntu
  ProxyJump bastion

Host bastionNSO
  HostName 91.106.198.35
  User ubuntu
  IdentityFile ~/.ssh/id_rsa
